/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Lato&display=swap');
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--body-bkg);
    scroll-behavior: smooth;
    margin-top: 2%;
}

/* colors */ 

:root {

    --body-bkg-color:#18453B;
    --right-col-bkg-color: rgba(218, 221, 152, 0.5);
    --left-col-bkg-color: rgba(73, 121, 107, 0.5);
    --right-col-bkg-color:#DADD98;
    --left-col-bkg-color:#49796B;


    --footer-bkg:#494949;
    --headings:#D76F30;

    --button-color-dark-bkg:#6BB77B;
    --button-hover-color-dark-bkg:#FDD935;

    --link-hover-color-light-bkg:#FB8122;


    --larger-text-color:#A0AECD; 
    --main-headings-color:#696868;
    --main-text-color:#3a3a3a;
    --text-color:#f2f4f7; 
}

/* typograph text elements */ 

h1 {
    color: var(--text-color);
    font-size: 4.5rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}





/* header navigation */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
}

nav li {
    padding: 0 10px;
  
} 

header nav a {
    text-decoration: none;
}

/* main layout */


main {
    display: grid;
    grid-template-columns: 50% 1% 30%;
    grid-gap: 1%;
    align-items: stretch;
    margin: 0;
    height: 100vh;
}


  .col-left {
    grid-column: 1;
    background-color: var(--left-col-bkg-color);
  }
  
  .col-right {
    grid-column: 3;
    background-color: var(--right-col-bkg-color);
    background-image: url("/assets/images/MVIMG_20180609_141755.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
  }
  
  .circle-pop-up-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--body-bkg-color);
    transition: width 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.circle-pop-up-menu i {
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
}

.circle-pop-up-menu:hover {
    width: 100px;
}

.circle-pop-up-menu:hover i {
    visibility: visible;
}

