/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Lato&display=swap');
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--body-bkg);
    scroll-behavior: smooth;
    margin-top: 2%;
}

/* colors */ 

:root {

    --body-bkg:#172D13;
    --header-bkg:#6E6E6E;
    --main-bkg:#FFFFFF;
    --footer-bkg:#494949;
    --headings:#D76F30;

    --button-color-dark-bkg:#6BB77B;
    --button-hover-color-dark-bkg:#FDD935;

    --link-hover-color-light-bkg:#FB8122;


    --larger-text-color:#A0AECD; 
    --main-headings-color:#696868;
    --main-text-color:#3a3a3a;
    --text-color:#f2f4f7; 
}

/* typograph text elements */ 

h1 {
    color: var(--text-color);
    font-size: 4.5rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


/* basic layout */ 
.low-opacity-bkg {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/pexels-jonathan-petersson-401080.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.6;
}

header {
    position: relative;
    background-color: var(--header-bkg);
    width: 65%;
    height: 40vh; 
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    overflow: hidden; 
}


.hero-header, .searchbar {
    position: relative;
    z-index: 1;
}


main {
    background-color:var(--main-bkg);
    width: 65%;
    height:40vh;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
}


footer {
    background-color: var(--footer-bkg);
    width: 65%;
    height: 20svh;
    margin: 1% auto;
    border-radius: 10px;
    padding: 2px;
    color: var(--text-color);
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}






/* hero header */ 

.hero-header {
    margin: 10% 0 0 2%;
}

.searchbar {
    display: flex;
    justify-content: right;    
    margin:4% 1% 1% 1%;
}


/* main page layout */ 

/* navigation */ 

main > nav,li {
    display: flex;
    justify-content:center;
    margin: 1% 0 2% 0;
}
main > nav,li,a {
    padding-left: 4px;
    list-style: none;
}

li,
a:nth-child(-n+5) {
    text-decoration: none;
    font-size: 1.1rem;
    display: inline-block;
    align-items: center;
    color: var(--main-text-color);
}

nav,li,a:hover {
    color: var(--link-hover-color-light-bkg);
}



/* main content */ 
.main-mini-content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.lodging,
.hunting,
.fishing { 
    overflow: auto;
    background-color: var(--footer-bkg);
    color: var(--link-hover-color-light-bkg);
}



/* footer layout */ 

.mindfulness {
    max-width: 15%;
    max-height: 35%;

}

.mindfulness p {
    text-align: left;
}





.social {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    
    /*
    justify-content: space-between; */
}
i {
    flex-direction: row;
    margin-top: 2%;
}




@media screen and (max-width:700px) {
    .low-opacity-bkg {
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/pexels-jonathan-petersson-401080.jpg");
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        opacity: 0.6;
    }
    
    header {
        position: relative;
        background-color: var(--header-bkg);
        width: 95%;
        height: 40vh; 
        margin: auto;
        border-radius: 10px;
        padding: 2px;
        overflow: hidden; 
        text-align: center;
    }
    
    
    .hero-header, .searchbar {
        position: relative;
        z-index: 1;
    }
    
    
    main {
        background-color:var(--main-bkg);
        width: 95%;
        height:80vh;
        margin: auto;
        border-radius: 10px;
        padding: 2px;
    }
    
    
    footer {
        background-color: var(--footer-bkg);
        width: 95%;
        height: 30svh;
        margin: 2% auto;
        border-radius: 10px;
        padding: 2px;
        color: var(--text-color);
        margin-bottom: 2%;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    
    
    
    
    
    
    /* hero header */ 
    
    .hero-header {
        margin-top: 10%;
    }
    
    .searchbar {
        display: flex;
        justify-content: right;    
        margin:4% 1% 1% 1%;
    }
    
    
    /* main page layout */ 
    
    /* navigation */ 
    
    main > nav,li {
        display: flex;
        justify-content:center;
        margin: 1% 0 2% 0;
    }
    main > nav,li,a {
        padding-left: 4px;
        list-style: none;
    }
    
    li,
    a:nth-child(-n+5) {
        text-decoration: none;
        font-size: 1.1rem;
        display: inline-block;
        align-items: center;
        color: var(--main-text-color);
    }
    
    nav,li,a:hover {
        color: var(--link-hover-color-light-bkg);
    }
    
    
    
    /* main content */ 
    
    
.main-mini-content-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 3fr);
}
    .lodging,
    .hunting,
    .fishing { 
        display: inline-block;
        margin: auto;
        max-width: 82%;
        max-height: 100%;
        overflow: auto;
        background-color: var(--footer-bkg);
        color: var(--link-hover-color-light-bkg);
        
    }
    
    
    
    /* footer layout */ 
    
.copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}
   .social {
        width: auto;
        height: auto;
        display: inline-block;
        align-items: center;
   }
        
}
    
 